/* For width between 481px and 800px: */

@media only screen and (min-width:481px) and (max-width:800px)  {
  body {
    background-color: snow;
    font-size: 16px;
    color: black;
    font-family: cursive;
    font-size: small;
    font-weight: 500;
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
    font-weight: 400;
    display: block;
}

    h3 {
    font-family: cursive;
    font-weight: 800;
    display: block;
}

img {
    width: 50%;
    height: auto;
}
}

/* For width less than 1220px and greater than 1160px: */

@media only screen and (min-width:1160px) and (max-width:1220px)  {
  body {
    background-color: snow;
    font-size: 28px;
    color: black;
    font-family: cursive;
    font-size: medium;
    font-weight: 500;
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    font-weight: 400;
    display: block;
}

    h3 {
    font-family: cursive;
    font-weight: 800;
    display: block;
}

img {
    width: 70%;
    height: auto;
}
}

@media only screen and (min-width:801px) and (max-width:1159px)  {
  body {
    background-color: snow;
    font-size: 28px;
    color: black;
    font-family: cursive;
    font-size: medium;
    font-weight: 500;
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    font-weight: 400;
    display: block;
}

    h3 {
    font-family: cursive;
    font-weight: 800;
    display: block;
}

img {
    width: 70%;
    height: auto;
}
}

/* For width between 430px and 480px: */

@media only screen and (min-width:430px) and (max-width:480px)  {
  body {
    background-color: snow;
    color: black;
    font-family: cursive;
    font-size: xx-small;
    font-weight: 500;
  }
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  .1em;
    font-weight: 400;
    display: block;
}

    h3 {
    font-family: cursive;
    font-weight: 800;
    display: block;
}

img {
    width: 20%;
    height: auto;
}
}